<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d62cb">  <td>21/04/13 18:35:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddTocart.addcart(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.amazon.testcases.TC_AddTocart@bd8db5a]">addcart</td> 
  <td>main@1131645570</td>   <td></td> </tr>
<tr bgcolor="9d62cb">  <td>21/04/13 18:35:02</td>   <td>-497</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AddTocart.values()[pri:0, instance:com.amazon.testcases.TC_AddTocart@bd8db5a]">&gt;&gt;values</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1131645570</td>   <td></td> </tr>
</table>
